@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
  font-weight: 600;
}
a {
  color: #3b82f6; /* màu xanh của Tailwind */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bg-background {
  background-color: var(--background) !important;
}
.text-foreground {
  color: var(--foreground) !important;
}
